{% load static %}{% load humanize %}
<!DOCTYPE html>
<html class="overflow-x-hidden">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Aila" />
    <meta name="keywords" content="HTML,CSS,JavaScript" />
    <meta name="author" content="HiBootstrap" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/static/img/ms-icon-144x144.png"/>
    <meta name="theme-color" content="#ffffff" />

    <title>About Us | What we do</title>

    <script src="https://use.fontawesome.com/d3bea22ec6.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

    <!-- bootstrap css -->
    <link rel="stylesheet" href="/static/styling/css/bootstrap.min.css" type="text/css" media="all"/>
    <!-- animate css -->
    <link rel="stylesheet" href="/static/styling/css/animate.min.css" type="text/css" media="all"/>
    <!-- meanmenu css -->
    <link rel="stylesheet" href="/static/styling/css/meanmenu.min.css" type="text/css" media="all"/>
    <!-- boxicons css -->
    <link rel="stylesheet" href="static/styling/css/boxicons.min.css" type="text/css" media="all"/>
    <!-- style css -->
    <link rel="stylesheet" href="/static/styling/css/style.css" type="text/css" media="all"/>
    <!-- responsive css -->
    <link rel="stylesheet" href="/static/styling/css/responsive.css" type="text/css" media="all"/>

    <script src="f18030f577.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->
    <link href="npm/boxicons@2.0.5/css/boxicons.min.css" rel="stylesheet" />
  </head>

  <body class="overflow-x-hidden">
    <!-- navbar -->
    <div class="fixed-top">
      <div class="navbar-area">
        <!-- mobile menu -->
        <div class="mobile-nav">
          <h4 class="logo">Logo</h4>
          <!--<a href="#" class="logo"><img src="" style="width: 150px" alt="Capital"/></a>-->
        </div>
        <!-- desktop menu -->
        <div class="header-container main-nav-3">
          <nav class="d-flex bg-white justify-content-between navbar navbar-expand-sm navbar-light">
            <h4 class="logo">Logo</h4>
            <!--<a class="navbar-brand" href="#"><img src="" style="width: 130px" alt="Capital" /></a>-->
            <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'about' %}" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'history' %}" class="nav-link">History</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'team' %}" class="nav-link">Our Team</a>
                </li>
                <li class="nav-item">
                  <a href="#investment-section" class="nav-link">Investment</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a href="{% url 'profile' %}" class="nav-link">Dashboard</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a href="{% url 'login' %}" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'signup' %}" class="nav-link">Signup</a>
                </li>
                {% endif %}
              </ul>
            </div>
            <!-- navbar option -->
          </nav>
        </div>
      </div>
    </div>
    <!--end navbar-->

    <!--MINI NAVBAR BEGIN-->
    <section class="dark-bg pt-55">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container border">
        <div class="tradingview-widget-container__widget"></div>
        <script
          type="text/javascript"
          src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
          async
        >
            {
            "symbols": [
              {
                "proName": "FOREXCOM:SPXUSD",
                "title": "S&P 500"
              },
              {
                "proName": "FOREXCOM:NSXUSD",
                "title": "US 100"
              },
              {
                "proName": "FX_IDC:EURUSD",
                "title": "EUR/USD"
              },
              {
                "proName": "BITSTAMP:BTCUSD",
                "title": "Bitcoin"
              },
              {
                "proName": "BITSTAMP:ETHUSD",
                "title": "Ethereum"
              }
            ],
            "showSymbolLogo": true,
            "colorTheme": "light",
            "isTransparent": false,
            "displayMode": "regular",
            "locale": "en"
          }
        </script>
      </div>
      <!-- TradingView Widget END -->
        <div class="container pb-5 pt-3">
          <div class="d-flex justify-content-center py-3 ">
              <a href="#" class="mini-navbar">Home</a>  
              <a class="mini-navbar">Our Company</a>  
              <a class="mini-navbar">About Us</a>  
          </div>
          <p class="mini-navbar-text pt-3">About Us</p>
        </div>
    </section>
    <!--MINI NAVBAR END-->

    <!-- SECOND SECTION BEGINS -->
    <section class="home-about-section-2 bg-off-white pt-50 pb-30 overflow-hidden">
      <div class="container-fluid p-0">
        <div class="home-about-content">
          <div class="align-items-center m-0">
            <div class="container col-sm-12 p-0">
              <div
                class="container"
              >
                <p class="blue-font-2">Who we are</p>
                <p class="home-about-para">
                  Capital.com is one of the most profitable and high-quality online investing sites available. Capital.com is a legally recognized company in Ireland that was founded to give consumers with a useful, dependable, and profitable template to earn with, based on years of knowledge, experience, and competence by our experienced traders, Forex and Cryptocurrency specialists. With a few years in the market, we have constantly given effective and trustworthy outcomes and performance, as well as a more than exceptional trading history that our customers can rely on. Capital.com is now widely considered as one of the most well-run, smart, and ultimately profitable Cryptocurrency and Forex trading enterprises in the market.
                </p>
                <p class="home-about-para">
                  Capital.com was founded on the ideas of devotion, adaptability, and understanding of the market's intricacies as well as the demands and expectations of various sorts of investors. The method by which we accomplish our transactions is absolutely transparent, ensuring that our customers are constantly aware of what is going on and are fully informed in order to avoid roadblocks.
                </p>
                <ul class="about-list p-6 mb-4">
                    <p class="about-header-text-2">Our governing structure is organized around three departments:</p>
                    <li class="home-about-para">Stock and Security Department.</li>             
                    <li class="home-about-para">Forex and Cryptocurrency Department, handling foreign exchange markets.</li>             
                    <li class="home-about-para">Department of Financial investments, handling Risk Estimation, Consulting and Marketing.</li>             
                </ul>
                <p class="home-about-para">
                    Capital.com has together a team of the most diversely capable and in-depthly informed professionals and experts accessible, all of which have extensive ability, competence, and experience in Cryptocurrency and Forex trading. Each of our professionals has a strong desire to succeed in their job, as well as a desire to see our company thrive in all of its initiatives. For years, our staff has been honing their talents and gaining expertise in Cryptocurrency and Forex trading, cultivating sophisticated and unique tactics, technologies, and processes to guarantee that our business stays ahead of the pack and separates itself from the crowd. This dedicated and attentive team of specialists is the driving force behind our success and favorable reputation. Capital.com has enlisted the services of experts with the highest qualifications.
                </p>
                <p class="home-about-para">
                    Whether you have years of expertise in the markets or are just getting started, the Capital.com staff is here to provide you with intelligent guidance, information, analyses, and judgements on the current markets and how to make the best investments for you. Our specialists are the ones that provide our customers with the best investment solutions and strategies, and they're the ones who make us your one-stop shop for all things investing. If you're a first-time investor, we can give you with the knowledge and guidance you need to build and polish your market abilities. We reduce risk and increase upside, ensuring that our investors receive consistent returns.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- SECOND SECTION ENDS -->

    <!-- THIRD SECTION BEGINS -->
    <section class="home-about-section-2 light-brown-bg bg-off-white pt-30 pb-30 overflow-hidden">
      <div class="container-fluid p-0">
        <div class="home-about-content">
          <div class="align-items-center m-0">
            <div class="container col-sm-12 p-0">
              <div
                class="container"
              >
                <p class="about-header-text-2">With our help, you may build a portfolio full of lucrative and valued assets that will provide you with considerable profits.</p>
                <p class="home-about-para">
                    Our primary focus is on equities sectors with the largest upside and potential income, as well as exceptional investment opportunities. Our success is dependent on the success of our clients; if you succeed in investing, we will succeed in Cryptocurrency and Forex. The following are some of the industries in which we have a strong emphasis for the most lucrative and opportunistic investments:
                </p>
                <ul class="p-3">
                    <li class="home-about-para">Energy resources, mining operations and precious metals</li>             
                    <li class="home-about-para">Developing software and communications</li>             
                    <li class="home-about-para">Research, development, and implementation of cutting-edge technologies in a variety of fields, including biology, chemistry, ecology, microelectronics, nanotechnology, materials science, medicine, public health, and many more.</li>             
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- THIRD SECTION END -->
    
    <!-- FOURTH SECTION BEGIN -->
    <section class="home-about-section-2 bg-off-white pt-40 pb-30 overflow-hidden">
      <div class="container-fluid p-0">
        <div class="home-about-content">
          <div class="align-items-center m-0">
            <div class="container col-sm-12 p-0">
              <div class="container">
                <p class="blockquote mb-4">We look for the following when we're conducting our analysis and assessment of current potential investing markets and firms</p>
                <div class="container row align-items-center">
                  <div class="row just-content-between">
                    <div class="col-sm-12 col-md-12 col-lg-4">
                      <div class="">
                        <p class="pb-2 pt-1 dark-blue-font">Market Capitalization</p>
                        <p class="home-about-para">The key aspect we analyze is the present market capitalization and position of the firm in issue. We look for opportunities for growth in this industry and decide whether this firm has the potential to be a leader or the resources and commitment to be at the forefront.</p>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                      <div class="">
                        <p class="pb-2 pt-1 dark-blue-font">Strengths & Weaknesses</p>
                        <p class="home-about-para">Another important aspect is that we look for strengths and flaws in the company's structure, management, and organization to see if it has the dedication and drive to meet the needs of investors. The next critical criterion is to evaluate the management's strengths and limitations, as well as to see if the organization's motivations align with those of our investors.</p>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                      <div class="">
                        <p class="pb-2 pt-1 dark-blue-font">Growth Potential</p>
                        <p class="home-about-para">The company's organization and management are next examined in the context of possible expansion, i.e., does it have the organization and desire to adapt and grow? We also consider the company's resources and goals when determining prospective development.</p>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                      <div class="">
                        <p class="pb-2 pt-1 dark-blue-font">Exit Prospects</p>
                        <p class="home-about-para">We assess the exit opportunities for potential investors, particularly through the public securities market, strategic purchasers, or potential national and international investors or buyers.
                        </p>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                      <div class="">
                        <p class="pb-2 pt-1 dark-blue-font">Control</p>
                        <p class="home-about-para">We analyze both the majority and minority interests to ensure they correspond with those of our potential investors, since it is critical to understand who is in charge and what views are heard.
                        </p>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                      <div class="">
                        <p class="pb-2 pt-1 dark-blue-font">Cash Flow</p>
                        <p class="home-about-para">It's critical for the business to have a positive or virtually positive cash flow. Profitability levels are also examined.</p>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                      <div class="">
                        <p class="pb-2 pt-1 dark-blue-font">Rate of Return</p>
                        <p class="home-about-para">The last criterion is to evaluate that the potential internal rate of return should correspond with the risk of the investor's portfolio of investments.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>          
    <!-- FOURTH SECTION END -->

    <!-- FIFTH SECTION BEGINS -->
    <section class="home-about-section-2 bg-off-white pt-40 pb-30 overflow-hidden">
      <div class="container-fluid p-0">
        <div class="home-about-content">
          <div class="align-items-center m-0">
            <div class="container col-sm-12 p-0">
              <div class="container">
                <p class="home-about-para mb-4">We are interested not just in potential investors, but also in the mutual benefits that partnerships may provide. One of our main objectives is to provide benefits and ideal circumstances for a large number of long-term private investment relationships. Many of the world's most renowned and well-known corporations and financial institutions collaborate with us directly. This enables us to remain at the forefront of the markets and to gain respect in the highly competitive marketplaces of investing and trading.</p>
                <p class="home-about-para mb-4">Capital.com offers some of the most inventive and intelligent strategic investment strategies accessible to its clients and investors. The minimum and maximum investment limitations, as well as the investment term and the possible daily earnings, will vary based on the exact plan chosen and produced for the customer. Each of our strategies and plans is tailored to the individual needs of each customer, ensuring that they are in sync with their goals and market conditions. You may be as engaged as you like, with our most experienced and competent clients collaborating closely with us on strategy development. The ultimate goal for our clients is to invest so that they can achieve their financial and life goals in the future.</p>
                <div class="container row align-items-center">
                  <div class="row just-content-between">
                    <div class="col-sm-12 col-md-12 col-lg-4">
                      <div class="">
                        <p class="pb-2 pt-1 blue-font-2">Our Prestige</p>
                        <p class="home-about-para">At Capital.com, we prioritize comfort, efficiency, simplicity, and, most importantly, safety. Almost all of our clients have given us nothing but excellent feedback, and our reputation and popularity are expanding by the day. We provide our consumers with an investment business they can entirely trust and rely on, and we take efforts to ensure the success of each individual client. For us, establishing a positive and lucrative long-term relationship with each customer is critical, therefore we work hard to win our clients' confidence and provide them with the success and profitability they desire. We promise that you will have a good time and that you will be pleased with the performance and outcomes.</p>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                      <div class="">
                        <p class="pb-2 pt-1 blue-font-2">Our Mission</p>
                        <p class="home-about-para">Capital.com's objective is to establish and maintain a position at the forefront of the Forex trading and cryptocurrency industries. We aim to grow and protect all of our clients' investments in a way that optimizes profitability and trust. Capital.com offers excellent value, as well as ideas and solutions that have been carefully considered and designed to deliver maximum value and achieve any objectives. On top of our unique and profitable investment techniques and online competence, we work tirelessly and persistently every day to provide obstacle-free, straightforward, and always helpful services.</p>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                      <div class="">
                        <p class="pb-2 pt-1 blue-font-2">Intelligent Risk Management</p>
                        <p class="home-about-para">We also operate in an efficient and practical manner to assist you reduce any potential danger and ensure that your finances are handled and controlled with the highest care and professionalism. All of our specialists, tactics, and goals are focused on ensuring that your experience and outcomes are as successful as possible.</p>
                        <a href="{% url "about" %}" class="btn2">
                          Read more on risk management
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- FIFTH SECTION END -->

<!-- footer SECTION BEGINS -->
<footer class="dark-bg py-5">
  <div class="container">
    <div class="footer-upper">
      <div class="row">
        <div class="col-sm-5 col-md-4 col-lg-4 w-50">
          <div class="footer-content-list footer-content-item">
            <div class="footer-content-title">
              <p class="dark-blue-font text-white">Our Company</p>
            </div>
            <ol class="footer-details footer-list">
              <li><a href="#about-section">About Us</a></li>
              <li><a href="#whyus-section">History</a></li>
              <li><a href="#team-section">Our Team</a></li>
              <li><a href="#services-section">Risk</a></li>
            </ol>
          </div>
        </div>
        <div class="col-sm-5 col-md-4 col-lg-4 w-50">
          <div class="footer-content-list footer-content-item">
            <div class="footer-content-title">
              <p class="dark-blue-font text-white">Trading Opportunity</p>
            </div>
            <ol class="footer-details footer-list">
              <li><a href="#investment-section">Investment</a></li>
              <li><a href="#">Signup</a></li>
              <li><a href="#">Login</a></li>
            </ol>
          </div>
        </div>
        <div class="col-sm-5 col-md-4 col-lg-4 w-50">
          <div class="footer-content-list footer-content-item">
            <div class="footer-content-title">
              <p class="dark-blue-font text-white">Information</p>
            </div>
            <ol class="footer-details footer-list">
              <li><a href="#strategy-section">Our Strategy</a></li>
              <li><a href="#contact-section">Contact</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-lower">
      <div class="footer-lower-item footer-copyright-text">
        <p>Capital © copyright 2022 All rights reserved</p>
      </div>
      <div class="footer-lower-item footer-social-logo">
        <ul class="footer-social-list">
          <li class="social-btn social-btn-fb">
            <a href="#"><i class="bx bxl-facebook"></i></a>
          </li>
          <li class="social-btn social-btn-tw">
            <a href="#"><i class="bx bxl-twitter"></i></a>
          </li>
          <li class="social-btn social-btn-pin">
            <a href="#"><i class="bx bxl-instagram"></i></a>
          </li>
          <li class="social-btn social-btn-yt">
            <a href="#"><i class="bx bxl-whatsapp"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- .end footer -->

<script src="/static/styling/carousel/script.js"></script>
  <!-- essential js -->
  <script src="/static/styling/js/jquery-3.5.1.min.js"></script>
  <script src="/static/styling/js/popper.min.js"></script>
  <script src="/static/styling/js/bootstrap.min.js"></script>
  <!-- magnific popup js -->
  <script src="/static/styling/js/jquery.magnific-popup.min.js"></script>
  <!-- owl carousel js -->
  <script src="/static/styling/js/owl.carousel.min.js"></script>
  <!-- form ajazchimp js -->
  <script src="/static/styling/js/jquery.ajaxchimp.min.js"></script>
  <!-- form validator js  -->
  <script src="/static/styling/js/form-validator.min.js"></script>
  <!-- contact form js -->
  <script src="/static/styling/js/contact-form-script.js"></script>
  <!-- meanmenu js -->
  <script src="/static/styling/js/jquery.meanmenu.min.js"></script>
  <!-- waypoints js -->
  <script src="/static/styling/js/jquery.waypoints.js"></script>
  <!-- counter js -->
  <script src="/static/styling/js/counter-up.js"></script>
  <!-- main js -->
  <script src="/static/styling/js/script.js"></script> 
</body>
</html>


