

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Dear {{user.username}} , Welcome to Dsubplug.com </title>
</head>

<body style="background-color:#f8f8f8 ">
    <div style="background-color:#f6f8f8;height:100%;margin:0;padding:0">

        <table style="background-color:#f6f8f8;height:100%;padding-bottom:25px;padding-left:0;padding-right:0;padding-top:25px" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
          <tbody>
            <tr>
              <td>
                <table cellspacing="0" cellpadding="0" border="0" align="center">
                  <tbody>
                      <tr>
                          <td width="550">
                              <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                                  <tbody>
                                  <tr style="background-color:#0b2154;background-image: -webkit-linear-gradient(90deg, #0b2154 0, #8103ff 51%, #0b2154 100%);
                                  background-image: linear-gradient(90deg, #0b2154 0, #0b2154 51%, #0b2154 100%);">
                                          <td style=" padding:10px; height:40px;text-align:center;margin-bottom:20px;">
                                            <center>
                                                <a href="https://dsubplug.com/" class="brand_link">
                                <img src="https://dsubplug.com/static/stylem/assets/img/datavilltrans.png" style="width:250px;">
                              
                            </a>
                                                <!--<h3 style="color:#ffffff ;font-size:40px" >Dsubplug</h3>-->
                                            </center>
                                        </td>
                                          <td style="height:45px">
                                            
                                  </td></tr>
                                  </tbody>
                              </table>
                          </td>
                      </tr>
                    <tr>
                      <td width="550">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                          <tbody>
                            <tr>
                              <td style="border-top:1px solid #dadfe1">
                              </td>
                            </tr>
                            <tr>
                              <td class="m_-3842395307440621426email-content" style="background-color:#ffffff">
                                <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                                  <tbody>
                                    <tr>
                                        <td class="m_-3842395307440621426email-content" style="background-color:#ffffff">
                                          <table style="width:548px;height:110px" cellspacing="0" cellpadding="0" border="0" align="center">
                                            <tbody>
                                              <tr>
                                                <td class="m_-3842395307440621426email-content-block" style="font-family:'Muli','Avenir Next','Avenir','Helvetica',sans-serif!important;padding-left:25px;padding-right:25px;padding-top:50px; padding-bottom: 50px;">
                                                  <div style="text-align:left"><span class="im"> 
                                                     
                                                      <br>
                                                      <br>
                                                      {% autoescape off %}  
                                                      Hi {{ user.username }},  
                                                      Please click on the link to confirm your registration,  
                                                      http://{{ domain }}{% url 'activate' uidb64=uid token=token %}  
                                                      {% endautoescape %} 

                                                    </div></td>
                                                </tr>
                                                <tr style="background-color: #f5f5f5;border-color: #ddd;">
                                                    <td class="m_-3842395307440621426email-content-block" style="font-family:'Muli','Avenir Next','Avenir','Helvetica',sans-serif!important;padding-left:25px;padding-right:25px;padding-top:50px">
                                         
                                                  <div style="font-family:'Muli','Avenir Next','Avenir','Helvetica',sans-serif!important;margin-top:5px;padding-bottom: 20px; color: #333; ">
                                                
                                                   <center>  <img src="https://dsubplug.com/static/assets/img/datavilltrans.png" style="width:250px;">
                              
                                                        <div class="spce"></div>
                                                        <h4 style="color:#333">12,000+ Active Users</h4>
                                                        <p style="font-family:'Muli','Avenir Next','Avenir','Helvetica',sans-serif!important;font-size: 14px; color:#333">Join our network of outstanding entrepreneurs patnering with dsubplug.com . Bring the dsubplug.com 'easy-payments' experience closer to your network and earn a discount for every transaction you perform for your customers.</p>
                                                        <div class="spce"></div>
                                                        <a style='background-color: #0b2154 ;padding:10px;text-decoration: none; border-radius:10px;color:white ;box-shadow:  1px 3px 3px 2px  rgba(0, 0, 0,0.13);' href="https://www.dsubplug.com/"><span>Visit Now!</span></a>
                                                    </center>  
                                                
                                               
                                                </div></td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr style="background-color:#0b2154;background-image: -webkit-linear-gradient(90deg, #0b2154 0, #8103ff 51%, #0b2154 100%);
                          background-image: linear-gradient(90deg, #0b2154 0, #8103ff 51%, #0b2154 100%);">
                            <td>
                              <table style="padding-left:50px;padding-right:50px;background:#0b2154;padding-bottom:25px;padding-top:25px" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                                <tbody>
                                  <tr style="background-color:#0b2154">
                                    <td class="m_-3842395307440621426email-social-bar-copy" style="font-family:&quot;Muli&quot;,sans-serif!important;height:50px">
                                      <p class="m_-3842395307440621426ios-no-link" style="margin-bottom:15px;font-family:'Muli',sans-serif!important;font-weight:400;font-size:11px;line-height:1.5;color:white">
                                     <h4 style="color:white">   Why Choose Us?</h4>
                                      <span style="font-family:'Muli','Avenir Next','Avenir','Helvetica',sans-serif!important;font-size: 13px;color:white">
                                        We offer instant recharge of Airtime, Databundle, CableTV (DStv, GOtv & Startimes), Electricity Bill Payment and more.                                    </td>
                                  </tr>
                                  <tr style="background-color:#0b2154;" >
                                    <td class="m_-3842395307440621426email-social-bar-icons" style="height:50px">
                                      <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tbody>
                                          <tr>
                                            <td align="center" style="padding-top: 20px;"> <a href="/" style="color:#4eaacc;padding:0 5px;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://url3053.msplugbank.com/ls/click?upn%3DMVG8cHcVtJ9rW2eOKDlPEkC-2BZcVLMa-2BSCfchz-2F7EP4QMAB6SX2Y39Mm9i4E0qtwXxOO1_Y97PwsL-2FGmX2nyTV3p37Rd-2FynISQC3GOV6mNJcEJGQ6-2FFBy37gzDxN2hnGS0VK48jfaI6OISStH63V7Xf2VyKfqtauf9JCuteUJqJM-2BehccdOKh20pi1fD7NdAOstfjq-2Bt4w8hoKNs3YAbJTap8dC-2BA0qvW0fKyZ2NDQfVtnZrYQ7mO-2FGT4un9Q1Yvx6WYUlTtEnm449MR8RahcWRWE1FL51SMbus77YHlqpOgb-2Bm8g-3D&amp;source=gmail&amp;ust=1607502859424000&amp;usg=AFQjCNHMAUd_oR-bq438zGp-_-j-mXltgA">
                                                <img src="https://ci5.googleusercontent.com/proxy/-7f6C1P-hWa2A8JmRZuzsV2Es9b4l3X2P7J0WurQXHt33LWaR5EMd24owiVldj4I0aYi97iLSyGw1Rya81SLiNX988138yr4bLvZ89BvrPnzSswPz6lwHA=s0-d-e1-ft#https://upload.wikimedia.org/wikipedia/commons/4/44/Facebook_Logo.pnghttps://ci3.googleusercontent.com/proxy/46emkkTj4pdfmqUxV8U_LiJILV5fHCN7nLVmnvQfcFH-hBRyVs1Egh12LhRMn_vNawYZvGE7oRDMtgQ5_Lya6q-heczLMkYCknpWOoJQq7kS=s0-d-e1-ft#https://imgplaceholder.com/20x20/transparent/ffffff/fa-twitter" style="height:40px;border:2px solid white;border-radius: 50px;box-shadow:  1px 3px 3px 2px  rgba(0, 0, 0,0.13);" class="CToWUd">
                                              </a> <a href="/" style="color:#4eaacc;padding:0 5px;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://url3053.msplugbank.com/ls/click?upn%3DMVG8cHcVtJ9rW2eOKDlPEvG6Np82SIrVVXgb5XXVHZKWxznZFmmTw-2FmBfEl-2BIKolSfxX_Y97PwsL-2FGmX2nyTV3p37Rd-2FynISQC3GOV6mNJcEJGQ6-2FFBy37gzDxN2hnGS0VK48jfaI6OISStH63V7Xf2VyKc5wcci4XVMpGbM9UvCUazgT5Dps3if7-2FCBFlcuzqyPV9rDveZ3Hdh9IA8aYsZ7d2bcaxRC-2FsNU1nG6AHXQ4yw4s1cD4xsSgE3lTV1Wt6n8TUCKJSTTM0vYqwFuNi4FPwi4tBadMaihatTXSuGK9cQE-3D&amp;source=gmail&amp;ust=1607502859424000&amp;usg=AFQjCNGoagfRZIIvHXRKgt1nEiOiRuMdug">
                                                <img src="https://ci5.googleusercontent.com/proxy/swwW_wGa_J1u5RhPX2Bj2449vMReJIG72_2E60YGouyhicfjEAOq5zvq3_G0FMqyuwtVhOWrTqnRO6OjdesUUbed3NVjdQjT6xd5j8tAhzud-BsFumQ=s0-d-e1-ft#https://logos-world.net/wp-content/uploads/2020/04/Twitter-Logo.png" style="height:40px;border:0;" class="CToWUd">
                                              </a> <a href="/" style="color:#4eaacc;padding:0 5px;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://url3053.msplugbank.com/ls/click?upn%3DMVG8cHcVtJ9rW2eOKDlPEj2qpLGzsRc1glv2iwuHwnRF8mDzpMZlmwNYeQV8Iv-2BmbSAJ_Y97PwsL-2FGmX2nyTV3p37Rd-2FynISQC3GOV6mNJcEJGQ6-2FFBy37gzDxN2hnGS0VK48jfaI6OISStH63V7Xf2VyKRQedlArJ9aHKK0pDystxsBnzwIkixHtVKV6YfemN-2FkSuoyB6qhfmCHxz-2F008GPwu2mZuv5Se6Rzb45YVfPe9AnW0oFagUV6Yzo5T0hmJXMrsxKvKJcRycnr9CTe7Q-2FWVbXm5QSv9rfz8zuPGW-2FBm0Y-3D&amp;source=gmail&amp;ust=1607502859424000&amp;usg=AFQjCNHQVpw0HEPzUE6KiNZJRr6jNrZ84g">
                                                <img src="https://ci4.googleusercontent.com/proxy/QaCFYbNM-MX9MsvRrluTw3XmyxLnP64UkNaFxh1clLDVbQ5EFdidfIAHL9MAsxiGkgf9b7SrlmzYqI8mVltI84v0crmziRVa3fwbmih-3iQQHQ=s0-d-e1-ft#https://assets.stickpng.com/images/580b57fcd9996e24bc43c521.png" style="height:40px;border:0;" class="CToWUd">
                                              </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                      <td width="550">
                          <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                              <tbody>
                              <tr>
                                  <td style="text-align:center;font-size:0.8em;padding-top:30px;color:#040952;padding:20px">
                                      © 2020  Dsubplug.com All rights reserved. 
                                                                       </td>
                              </tr>
                              </tbody>
                          </table>
                      </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
  
      </div>
</body>
</html>